# J server VM
J_SERVER_PORT=4000
J_SERVER_PROXY_PORT=4000

# J worker VM
J_WORKER_PORT=4001
J_WORKER_PROXY_PORT=4001

# APP VM
APP_USER=appuser
APP_DIR=/home/appuser

# General
SUBNET=%
APP_HOST_PROXY_PORT=8088

#GitHub Credentials (used to push to your repo on provisioning & auto-configure Jenkins SCM access)
GITHUB_USER=
GITHUB_TOKEN=
GITHUB_REPO_URL=https://github.com/forze961/dl-devops-sp2-nodejs.git

#Docker Hub Credentials (used to auto-configure Jenkins Docker login)
DOCKERHUB_USER=
DOCKERHUB_PASSWORD=
